<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Click'nd Eat!{% endblock %}</title>
        {% block stylesheets %}
        
	        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
            <link rel="stylesheet" href="{{ asset('css/bootstrap.min.css') }}">
            <link rel="stylesheet" href="{{ asset('css/style.css') }}">
            <link rel="stylesheet" href="{{ asset('css/mdb.css') }}">
            
        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body class="hidden-sn light-blue-skin animated">
        
        {% block header %}
            {% set vars = {'logged': false} %}
            {% include 'secondary_templates/header.html.twig' with vars %}
        {% endblock %}
        
        {% block fos_user_content %}
        {% endblock fos_user_content %}
        
        {% block javascripts %}
            <script src="{{ asset('js/tether.min.js') }}"></script>
            <script src="{{ asset('js/jquery-3.1.1.min.js') }}"></script>
            <script src="{{ asset('js/bootstrap.min.js') }}"></script>
            <script src="{{ asset('js/mdb.min.js') }}"></script>
            <script src="{{ asset('js/wow.min.js') }}"></script>
            <script src="{{ asset('js/main.js') }}"></script>
        {% endblock %}
    </body>
</html>