<main id="mainContainer" class="index">
                
    <div class="container-fluid">
        <div class="row background-image-responsive header-index-section" style="background-image:url('{{ asset('img/hero.jpg') }}')">
            <div class="overlay">
                <div class="text-center title-text">
                    <h1>El futuro de la gastronomía ha llegado</h1>
                    <h3>
                        Click'nd Eat te da la posibilidad de poder compartir tu comida o disfrutar la de los demás. 
                    </h3>
                </div>
            </div>
        </div>
    </div>
    
    <div class="container-fluid gray">
        
        <div class="row">
            
            <div class="col-md-12 col-lg-5">
                
                <div class="index-details">
                    <div class="index-icon">
                       <i class="fa fa-money"></i>
                    </div>
                    <div class="index-text-detail">
                        <h2 class="title-detail">Ahorra dinero</h2>
                        <p class="body-detail lead">
                            ¿Eres de aquellas personas que siempre que cocinan hacen platos de más?
                            Con Click'nd Eat podrás compartir esos platos que te sobran y así
                            poder compartir gastos.
                        </p>
                    </div>
                    
                </div>
                
                <div class="index-details">
                    <div class="index-icon">
                       <i class="fa fa-cutlery"></i>
                    </div>
                    <div class="index-text-detail">
                        <h2 class="title-detail">Se acabaron los restaurantes </h2>
                        <p class="body-detail lead">
                            ¿Estás fuera de casa y no tienes suficiente dinero para comer en un restaurante?
                            No te preocupes, gracias a Click'nd Eat podrás encontrar las publicaciones
                            más cercanas a tu ti y podrás disfrutar de ellas.
                        </p>
                    </div>
                    
                </div>
               
            </div>
            
            <div class="col-md-12 col-lg-7 quote no-padding">
                
                <div class="background-image-responsive index-2" 
                     style="background-image:url('{{ asset('img/background-index-2.jpg') }}')"></div>
                             
                
                <div class="user-info">
                    
                    <div class="image-profile-avatar background-image-responsive"
                    style="background-image:url('{{ asset('img/image-profile-default-1.jpg') }}')"></div>
                
                
                    <div class="text-center user-metadata">
                        <span class="name">Álvaro</span>
                        <span class="about">Anfitrión en Barcelona desde mayo de 2017</span>
                    </div> 
                    <p class="text-center user-description">
                        Todos estamos conectados por nuestro gusto por la buena comida y comer juntos es la 
                        única manera de disfrutar de ello. Creo que la comida tiene un significado mucho más 
                        profundo que simplemente su sabor. Es emocional, desafiante y excitante para todos 
                        nuestros sentidos. La comida es una expresión de quien soy. 
                        Cocinar es mi manera de compartir esto con otras personas.
                    </p>
                    
                </div>             
                
                
            </div>
            
        </div>
        
    </div>
    
    <div class="container-fluid gray">
        
        <div class="row">
            
            
            <div class="col-md-12 col-lg-7 quote no-padding">
                
                <div class="background-image-responsive index-2" 
                     style="background-image:url('{{ asset('img/background-index-3.jpg') }}')"></div>
                             
                
                <div class="user-info">
                    
                    <div class="image-profile-avatar background-image-responsive"
                    style="background-image:url('{{ asset('img/image-profile-default-2.jpg') }}')"></div>
                
                
                    <div class="text-center user-metadata">
                        <span class="name">Álvaro</span>
                        <span class="about">Anfitrión en Barcelona desde mayo de 2017</span>
                    </div> 
                    <p class="text-center user-description">
                        Todos estamos conectados por nuestro gusto por la buena comida y comer juntos es la 
                        única manera de disfrutar de ello. Creo que la comida tiene un significado mucho más 
                        profundo que simplemente su sabor. Es emocional, desafiante y excitante para todos 
                        nuestros sentidos. La comida es una expresión de quien soy. 
                        Cocinar es mi manera de compartir esto con otras personas.
                    </p>
                    
                </div>             
                
                
            </div>
            
            <div class="col-md-12 col-lg-5">
                
                <div class="index-details">
                    <div class="index-icon">
                       <i class="fa fa-users"></i>
                    </div>
                    <div class="index-text-detail">
                        <h2 class="title-detail">Sé parte de una comunidad</h2>
                        <p class="body-detail lead">
                            Con Click'nd Eat no solo comerás, sino que conocerás
                            a gente increíble y con la que seguro que repetiras
                            y vivirás experiencias increíbles e inolvidables.
                            
                        </p>
                    </div>
                    
                </div>
               
               <div class="index-details">
                    <div class="index-icon">
                       <i class="fa  fa-map-signs"></i>
                    </div>
                    <div class="index-text-detail">
                        <h2 class="title-detail">No te perderás</h2>
                        <p class="body-detail lead">
                            ¿Tienes muy mal sentido de la orientación?. 
                            No te preocupes con Click'nd Eat no te perderás
                            ya que te marcará el recorrido hasta tu destino.
                        </p>
                    </div>
                    
                </div>
               
            </div>
            
            
        </div>
        
    </div>
    
    <div class="container how-works">
        
        <div class="row text-center" >
            <div class="col-sm-2"></div>
            <div class="col-sm-8">
                <h2>¿Cómo funciona?</h2>
                <p class="lead">Buscamos a los chefs más creativos para que formen parte de nuestra comunidad global.</p>
            </div>
            <div class="col-sm-2"></div>
        </div>

        <div class="row">
            <div class="col-sm-4 text-center">
                <div>
                    <img src="{{ asset('img/how1-icon.png') }}">
                </div>
                
                <h5>Registrate</h5>
                <p>
                    En primer lugar, para poder utilizar nuestros servicios, tienes
                    que registrarte en nuestra página web o en nuestra aplicación.
                    Una vez realizado dicho proceso recibirás un correo de activación
                    para validar tu cuenta y podrás adentrarte en
                    el maravilloso mundo de Click'nd Eat.
                </p>
                
            </div>
            <div class="col-sm-4 text-center">
                <div>
                    <img src="{{ asset('img/how2-icon.png') }}">
                </div>
                
                <h5>Publicaciones</h5>
                <p>
                    Una vez registrado, podrás buscar todas las publicaciones
                    más cercanas a ti o podrás registrar publicaciones nuevas
                    donde darás a conocer tus facetas culinarias.
                </p>
                
            </div>
            
            <div class="col-sm-4 text-center">
                <div>
                    <img src="{{ asset('img/how3-icon.png') }}">
                </div>
                
                <h5>Contacta</h5>
                <p>
                    Pide información acerca de las publicaciones o concerta tu
                    reserva. Click'nd Eat te permite comunicarte con tus chefs
                    preferidos para que estes informado de todas las novedades
                    de cada una de sus publicaciones.
                </p>
            </div>
            
        </div>

    </div>
    
    <div class="container-fluid">
        
        <div class="row">
            
            <div class="col-sm-4 background-image-responsive index-2" style="background-image:url('{{ asset('img/food-1.jpg') }}')"></div>
            <div class="col-sm-4 background-image-responsive index-2" style="background-image:url('{{ asset('img/food-2.jpg') }}')"></div>
            <div class="col-sm-4 background-image-responsive index-2" style="background-image:url('{{ asset('img/food-3.jpg') }}')"></div>
            
        </div>
        
        <div class="row">
            
            <div class="col-sm-12 quote no-padding">
                
                <div class="user-info">
                    
                    <div class="image-profile-avatar background-image-responsive"
                    style="background-image:url('{{ asset('img/image-profile-default-3.jpg') }}')"></div>
                
                
                    <div class="text-center user-metadata">
                        <span class="name">Elena</span>
                        <span class="about">Anfitriona en Madrid desde junio de 2017</span>
                    </div> 
                    <p class="text-center user-description">
                        Gracias a Click'nd Eat he podido sentirme como una verdadera chef.
                        He conocido a gente maravillosa y sobre todo he ganado experiencias
                        inolvidables.
                    </p>
                    
                </div>             
                
                
            </div>
        </div>
    </div>
    
</main>
        
        